<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ../Schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target 
      name="errorsLog"
      xsi:type="File"
      fileName="ErrorsLog.txt"
      createDirs="true"
      layout="${longdate} ${callsite} ${level} ${message}"
      maxArchiveFiles="30"
      archiveFileName="${basedir}/ErrorsLog/Errors_{#}.log"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      archiveEvery="Day"
      concurrentWrites="true" 
      />
    <target 
      name="dispatchLog" 
      xsi:type="File"
      fileName="CurrentLog.log"
      createDirs="true"
      layout="${message}"
      maxArchiveFiles="30"
      archiveFileName="${basedir}/LogArchive/DispatchLog_{#}.log"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      archiveEvery="Day"
      concurrentWrites="true" 
      />
  </targets>
  <rules>
    <logger name="ErrorsLog" minlevel="Warn" writeTo="errorsLog" />
    <logger name="DispatchLog" minlevel="Info" writeTo="dispatchLog" />
  </rules>
</nlog>
